.red-exclamation-container{
    display: flex;
    align-items: center;

    /* for opacity */
    transition: 0.15s;
}

/* Red circle containg exclamtion */
.red-exclamation{
    width: 1.2em;
    height: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 2px;


    background-color: rgb(239 68 68);
    border-radius:50%;
    border: 1px solid black;
    cursor: default;
}

/* Actual exclamtion */
.exclamtion{
    color: white;
    font-size: 1.4em;
    font-family: "Abel";
}


/* Error message */
.red-exclamation-text{
    background-color: black;
    padding: 0px 5px 0px 5px;
    border-radius: 3px;
    color: white;
    font-family: "Abel";
    position: absolute;
    transform: translateX(1.8em);
}