/* Container which will hold the text that says what the expression is for, the dropdown to edit the expression
and the actions bar */
.expression-container{
    position: relative;
}


/* Text that shows what the expression is for, says something like "If 5d moving average price of TSLA is greater than 5%" 
also holds the dropdowns to edit the expression details*/
.expression-text-container{
    font-family: abel;
    color: white;
    padding: 0.4em 0.6em 0.4em 0.6em;
    margin: 0em;
    background-color: rgb(182, 67, 0);
    font-size: 1.1em;
    box-shadow: var(--box-shadow-1);
    border-radius: 2em;
    text-wrap: nowrap;
}

/* Conatiner (span tag) which holds the expression detail when being edited and holds expression dropdowns */
.expression-text-edit-container{
    background-color: rgb(121, 45, 0); 
    padding: 0.1em 0.3em 0.1em 0.3em;
    border-radius: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* Container which holds drop down and text that shows what function has been selected */
.expression-function-container{
    display: inline-block;
    position: relative;
}
/* Container which holds expression dropdown to edit the expression function and input to enter trading days */
.expression-function-dropdown-container{
    position: absolute;
    box-shadow: var(--box-shadow-1);
    background-color: var(--background-color-1);
    border: var(--border-1);
    border-radius: 0.6em;
    padding: 1em;
    top: 1.7em;
    left: 0.2em;


    /* for opacity */
    transition: 0.2s;
}
/* "Function" and "Window (# of trading days)" text*/
.expression-function-dropdown-text{
    color: #101516;
    margin: 0em;
    padding: 0em;
    font-size: 0.8em;
    margin-bottom: 0.1em;
}

/* Container which holds the ul and all items when it comes to selecting function */
.expression-function-selector-dropdown-container{
    position: relative;
}
/* Container which holds what function is currently selected */
.expression-function-selected{
    color: #101516;
    border: var(--border-1);
    margin-bottom: 1em;
    cursor: pointer;
    border-radius: 0.2em;
    padding: 0em 0.4em 0em 0.4em;
}
/* ul which has all of the expression functions */
.expression-function-selector-dropdown{
    position: absolute;
    margin: 0em;
    padding: 0em;
    top: 1.5em;
    list-style-type: none;
    box-shadow: var(--box-shadow-1);
    background-color: var(--background-color-1);
    border: var(--border-1);
    border-radius: 0.2em;

    /* for opacity */
    transition: 0.2s;
}
/* actual li items which you can select function from */
.expression-function-selector-dropdown-item{
    color: #101516;
    cursor: pointer;
    text-wrap: nowrap;
    padding: 0em 0.4em 0em 0.4em;

    /* for hover */
    transition: 0.2s;
}
.expression-function-selector-dropdown-item:hover{
    background-color: rgb(235, 235, 235);
}

/* Input to enter the size of the trading window for function */
.expression-function-trading-days-input{
    color: #101516;
    border: var(--border-1);
    cursor: pointer;
    border-radius: 0.2em;
    outline: none;
    font-family: abel;
    font-size: 1em;
    padding-left: 0.4em;
}

/* Make it so no arrows show on the input because by default arrows show on type number inputs */
/* Chrome, Safari, Edge, Opera */
.expression-function-trading-days-input::-webkit-outer-spin-button,
.expression-function-trading-days-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.expression-function-trading-days-input {
  -moz-appearance: textfield;
}




/* Container which holds drop down and text that shows what comparator has been selected */
.expression-comparator-container{
    display: inline-block;
    position: relative;
}
/* Container which holds the selections for the expression comparators (less than, greater than, equal to) */
.expression-comparator-dropdown-container{
    position: absolute;
    box-shadow: var(--box-shadow-1);
    background-color: var(--background-color-1);
    border: var(--border-1);
    border-radius: 0.6em;
    overflow: hidden;
    top: 1.7em;
    left: 0.2em;


    /* for opacity */
    transition: 0.2s;
}
/* ul which holds all of the comparators */
.expression-comparator-dropdown{
    list-style-type: none;
    margin: 0em;
    padding: 0em;
}
.expression-comparator-dropdown-item{
    font-family: abel;
    color: #101516;
    cursor: pointer;
    padding: 0.1em 0.1em 0.1em 0.3em;

    /* for hover */
    transition: 0.2s;
}
.expression-comparator-dropdown-item:hover{
    background-color: rgb(235, 235, 235);
}

/* Container which holds actions bar and alert */
.expression-actions-alert-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* Position absolute so that the node appears to be in center of the edge its on.
    If the actions bar and alert are included the node appears to be off to the side */
    position: absolute;
    top: 0.5em;
    right: -6.1em;
}






/* Container which holds drop down and text that shows what type (yahoo finance/fred) and what asset or data has been selected */
.expression-asset-data-container{
    display: inline-block;
    position: relative;
}